.program-list {
	box-sizing: border-box;
    font-family: Lato, Yu Gothic Medium, 游ゴシック Medium, YuGothic, 游ゴシック体, ヒラギノ角ゴ Pro W3, メイリオ, sans-serif, ;
}
.page-title{
	text-align: center;
	color: #037Ef3;
        padding-top: 0;
}
.body{
	max-width: 100%;
	width: 100%;
	display: inline-block;
}
.region .section-title{
	color: #037Ef3;
	font-size: 24px;
}
.program .program-title {
        text-align: center;
        margin-bottom: 10px;
}
.btn {
        text-align: center;
        font-weight: bold;
        color: #fff;
        border-radius: 6px;
        padding: 20px 40px;
        background-color: #037Ef3;
}

.btn:hover {
        background-color: #004BC0;
}
.global{
                background-color: #fff;
                color: #037Ef3;
}

.global:hover {
                background-color: #037Ef3;
                color: #fff;
}

.program {
	
}
.region {
	padding-right: 0;
}
.program-text {
	padding-right: 0;
}

.region {
          margin-bottom: 10px;
}
.program {
          margin-bottom: 10px;
}
.label {
          margin-bottom: 10px;
	  width: 33%;
          padding: 0 20px;
	  display: inline-block;
	  vertical-align: top;
          border-color: #CACCD1;
}
 .program-img{
          width: 50%
  }
